* {
    box-sizing: border-box;     /* All-around good thing to add to every page */
}

head {
    display: block;
    background-color: #49962c;
    height: 50px;
}

body {
    background-color: #211c18;
}

.column {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: auto;
}

h1, h2 {
    color: #49962c;
    font-size: 36px;
}

p {
    color: black;
    font-family: Helvetica, Arial, serif;
    font-size: 16px;
}

/* IMPORTANT PROJECT #1 */
.notecard {
    display: block;
    background-color: rgba(0, 133, 242, .1);
    border: 1px solid #020202;
    border-left: 4px solid #0085f2;
    border-radius: 0.25rem;                     /* radius = rounded corners */
    box-shadow: 1px 1px 1px rgba(43, 42, 51, .05);
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}

.notecard p:before {
    display: inline-block;
    height: 1rem;
    left: 1rem;
    content: "💡";
    top: 1.5rem;
    width: 1rem;
    margin-block-start: 1em;
    margin-block-end: 3em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.notecard p:first-child {
    margin-top: 0;
}

.notecard p:last-child {
    margin-bottom: 0;
}

.notecard p {
    margin: 0!important;
}

.grid {
    max-width: 1000px;
    margin: 0 auto; /* horizontally centers the container */
    background-color: white;
    border: none;
    padding: 0.5em 2.5rem 1em 1em;
    border-radius: 5px;
    word-wrap: normal;
    white-space: pre-wrap;      /* not prewrap but pre(elements)-wrap */
  }

