* {
    box-sizing: border-box;     /* All-around good thing to add to every page */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#head {
    display: flex;
    flex: 6;
    background-color: #49962c;
    height: 50px;
}

body {
    background-color: #211c18;
}

h1, h2 {
    color: #49962c;
    font-size: 36px;
    margin-bottom: -5px;
}

h3 {
    color:#0085f2;
    font-size: 32px;
}

h4, feedback {
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #49962c;
    line-height: 2em;
}

p, li {
    color: black;
    font-family: Helvetica, Arial, serif;
    font-size: 18px;
    line-height: 1.5;
}

figcaption {
    font-size: 16px;
    text-align: center;
}

/* IMPORTANT PROJECT #1 */
.notecard {
    display: block;
    background-color: rgba(0, 133, 242, .1);
    border: 1px solid #020202;
    border-left: 4px solid #0085f2;
    border-radius: 0.25rem;                     /* radius = rounded corners */
    box-shadow: 1px 1px 1px rgba(43, 42, 51, .05);
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
}

.notecard p:before {
    display: block;
    height: 1rem;
    left: 1rem;
    top: 1.5rem;
    width: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.notecard p:first-child {
    margin-top: 0;
}

.notecard p:last-child {
    margin-bottom: 0;
}

.notecard p {
    margin: 0!important;
}

.grid {
    max-width: 1000px;
    margin: 0 auto; /* horizontally centers the container */
    background-color: white;
    border: none;
    padding: 0.5em 0.5rem 1em 1em;
    border-radius: 10px;
    word-wrap: normal;
    white-space: normal;      /* not prewrap but pre(elements)-wrap */
  }

.powerbutton::after {
    content: url('power-button-icon.jpg');
}

.centered {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.feedback {
    font-size: 30px;
    text-align: center;
}

footer {
    background-color:#49962c;
}
